<main>
<div class="all-login">
<div class="form">
  <div class="login">
  <form class="box" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Войти в кабинет</h1>
    <div class="field-wrap">
      <input formControlName="email" class="login-user-input-email login-user-input" name="email"
             placeholder="Your Email Address" type="text"
             [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}">
      <span *ngIf="form.get('email').invalid && form.get('email').touched">
        <span *ngIf="form.get('email').errors['required']">Email не должен быть пустым</span>
        <span *ngIf="form.get('email').errors['email']">Email должен быть корректным</span>
              </span>
    </div>

    <div class="field-wrap">
      <input type="password" class="login-user-input-password  login-user-input" name="password"
             placeholder="Enter Password" formControlName="password"
             autocomplete="off"
             [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
      <span *ngIf="form.get('password').invalid && form.get('password').touched">
        <span *ngIf="form.get('password').errors['required']">Password не должен быть пустым</span>
      </span>
    </div>

    <p class="forgot"><a href="#">Forgot Password?</a></p>

    <button type="submit" class="action" [disabled]="form.invalid">Войти</button>


  </form>

  </div>


</div>


</div>
</main>
