<main>
<div class="all-register">
  <div class="form">
    <div class="login">

    <form class="box" [formGroup]="form" (ngSubmit)="onSubmit()">
      <h1>Sign Up</h1>
      <div class="top-row">

        <div class="field-wrap">
          <input  formControlName="firstName" class="" name="firstName" placeholder="firstname"
                  type="text"
                  [ngClass]="{'invalid': form.get('firstName').invalid && form.get('firstName').touched}">
          <span *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
        <span *ngIf="form.get('firstName').errors['required']">Имя не должен быть пустым</span>
          </span>
        </div>

        <div class="field-wrap">
          <input  formControlName="lastName" class="" name="lastName" placeholder="lastName"
                  type="text"
                  [ngClass]="{'invalid': form.get('lastName').invalid && form.get('lastName').touched}">
          <span *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
        <span *ngIf="form.get('lastName').errors['required']">Фамилия не должен быть пустым</span>
          </span>
        </div>

        <div class="field-wrap">
          <input type="text" class="login-user-input-password  login-user-input" name="city"
                 placeholder="city" formControlName="city"
                 autocomplete="off"
                 [ngClass]="{'invalid': form.get('city').invalid && form.get('city').touched}">
          <span *ngIf="form.get('city').invalid && form.get('city').touched">
        <span *ngIf="form.get('city').errors['required']">Отчество не должен быть пустым</span>
      </span>
        </div>

      </div>

      <div class="field-wrap">
        <input formControlName="email" class="login-user-input-email login-user-input" name="email"
               placeholder="Your Email Address" type="text"
               [ngClass]="{'invalid': form.get('email').invalid && form.get('email').touched}">
        <span *ngIf="form.get('email').invalid && form.get('email').touched">
        <span *ngIf="form.get('email').errors['required']">Email не должен быть пустым</span>
        <span *ngIf="form.get('email').errors['email']">Email должен быть корректным</span>
              </span>
      </div>

      <div class="field-wrap">
        <input type="password" class="login-user-input-password  login-user-input" name="password"
               placeholder="Enter Password" formControlName="password"
               autocomplete="off"
               [ngClass]="{'invalid': form.get('password').invalid && form.get('password').touched}">
        <span *ngIf="form.get('password').invalid && form.get('password').touched">
        <span *ngIf="form.get('password').errors['required']">Password не должен быть пустым</span>
      </span>
      </div>



      <button type="submit" class="action" [disabled]="form.invalid">Войти</button>
    </form>
  </div>
</div>
</div>
</main>
