<section class="content">
  <span class="site">Что за сайт?</span>
  <p>Наша компания создана для того, чтобы в кратчайшие сроки установить контакт между учеником и репетитором.

    Мы объединяем репетиторов разных предметов и специальностей: от гуманитарных предметов до точных наук, от музыки до
    шахмат. За максимально короткий промежуток времени мы подбираем Вам репетитора, который будет максимально
    соответствовать Вашим пожеланиям и требованиям, что дает возможность индивидуального подхода к каждому ученику.
    Репетиторы помогут повысить успеваемость ученика, проведут подготовку к независимому внешнему тестированию, помогут
    поступить в национальные и зарубежные вузы, разобраться в тонкостях предмета и расширить кругозор.</p>

  <span>Как работает система</span>

</section>
