section{
  margin-bottom: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  padding-bottom: 100px;

}
.site{
  font-size: 26px;
}
